@font-face {
  font-family: gilroy;
  src: url("../fonts/Gilroy-Black.ttf");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: gilroy !important;
  background: black !important;
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
p {
  padding: 0;
  margin: 0;
  color: rgb(240, 240, 240);
}

h1 {
  font-size: 3rem;
  font-weight: 700 !important;
}

.slider {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0vh;
  padding: 0vh 2vh;
  background: black;
  z-index: 5;
  pointer-events: none;
  svg {
    animation: stroke 4s ease;
  }
}

@keyframes stroke {
  from {
    stroke-dasharray: 200;
  }
  to {
    stroke-dasharray: 900;
  }
}

.logo {
  position: absolute;
  top: 3vw;
  left: 3vw;
  width: 200px;
}

.hamburger {
  width: 3vw;
  height: 3vw;
  background: #5c00d1;
  position: fixed;
  top: 3vw;
  right: 5vw;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  z-index: 4;
  cursor: pointer;
  .line1,
  .line2,
  .line3 {
    width: 60%;
    height: 0.1vw;
    background-color: white;
  }
  .line2 {
    margin: 0.4vw 0px;
  }
}

.nav-overlay {
  display: flex;
  padding: 5vw 0vw;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  background: rgb(14, 14, 14);
  position: fixed;
  top: 0vh;
  z-index: 3;
  clip-path: polygon(100% 0, 100% 0%, 100% 0, 100% 0);
  opacity: 0;
  transition: all 500ms ease-in-out;
  .overlay-badge {
    position: absolute;
    top: 0vh;
    right: 0vh;
    height: 100%;
    width: 13%;
    background: #5c00d1;
  }
  .overlay-left,
  .overlay-right {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .overlay-left {
    flex-direction: column;
    img {
      width: 50%;
    }
    .overlay-about {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      margin: 4vw 0vw;
    }
    .overlay-buttons {
      width: 85%;
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      a {
        text-decoration: none;
      }
      button {
        .space {
          margin: 0vh 0.3vw;
        }
        padding: 0.7vw 3vw;
        display: flex;
        align-items: center;
        justify-content: space-between;
        background: #5c00d1;
        border-radius: 8px;
        border: none;
        font-size: 18px;
        color: white;
        &:nth-child(2) {
          margin: 0vw 2vw;
        }
      }
    }
    .overlay-maintainer {
      display: flex;
      align-items: center;
      justify-content: space-around;
      flex-direction: column;
      button {
        padding: 0.6rem 2vw;
        background: #5c00d1;
        border-radius: 8px;
        border: none;
        font-size: 18px;
        color: white;
      }
    }
  }
  .overlay-nav {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    list-style: none;
    li a {
      text-decoration: none;
      color: white;
      font-size: 1.3rem;
    }
    li {
      margin: 2vw 0vh !important;
    }
  }
}

.nav-active {
  clip-path: polygon(100% 100%, 100% 0, 0 0, 0 100%);
  opacity: 1;
}

.home {
  .home-badge {
    width: 40vw;
    height: 28vw;
    background: #5c00d1;
    position: absolute;
    right: 0vh;
    z-index: -1;
    border-top-left-radius: 5rem;
    border-bottom-left-radius: 5rem;
    opacity: 0;
  }
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  padding: 2vw 0vw;
  .home-text,
  .home-img {
    width: 50%;
  }
  .home-img {
    display: flex;
    justify-content: center;
    transform: translateX(150px);
    opacity: 0;
    z-index: -1;
    img {
      width: 50%;
      justify-self: flex-start !important;
    }
  }
  .home-text {
    padding: 0rem 4vw;
    transform: translateX(-150px);
    opacity: 0;
    h1 {
      font-size: 5vw;
      margin: 2vh 0vh;
    }
    p {
      line-height: 2.5vw;
      font-size: 1.5vw;
    }
  }
  overflow: hidden;
}

.features {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background: url(../images/Background.jpg);
  background-size: cover;
  position: relative;
  .backdrop {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.603);
    position: absolute;
    z-index: 1;
  }
  .features-card-container {
    z-index: 2;
    width: 30vw;
    min-height: 100%;
    padding: 3vw 0vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    .features-card {
      width: 25vw;
      padding: 1vw 1vw;
      margin: 3vw 0vw;
      border-radius: 0.4vw;
      transition: transform 600ms ease;
      &:hover {
        transform: translateY(-10px);
      }
      h1,
      h3 {
        color: #ffffff !important;
      }
      h1 {
        font-size: 2vw;
      }
      h3 {
        font-size: 1.5vw;
      }
    }
  }
  .swiper {
    width: 25vw;
    .swiper_slide {
      width: 50%;
    }
  }
}

.team {
  padding: 3vw 0vw;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  .wrapper {
    width: 25vw;
    overflow: hidden;
    margin: 0vh 3vh;
    img {
      width: 20%;
    }
  }
  .container {
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    .card {
      width: 30vw;
      height: auto;
      display: flex;
      flex-direction: row;
      align-items: center;
      padding: 1vw 2vw;
      border-radius: 0.5vw;
      margin: 3vw 2vw;
      .card-img {
        width: 30%;
        img {
          width: 80%;
          border-radius: 50%;
        }
        margin-right: 1.5vw;
      }
      .card-text {
        width: 70%;
        color: black !important;
      }
    }
  }
}

footer {
  width: 100vw;
  height: auto;
  background: #2d2d2d;
  display: flex;
  align-items: center;
  justify-content: space-around;
  color: gray;
  font-size: 2rem;
  flex-direction: column;
  h1 {
    font-weight: 200;
  }
  .footer-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100vw;
    height: auto;
    padding: 0rem 3rem;
    ul {
      list-style: none;
      li a {
        text-decoration: none;
        color: gray;
        font-size: 1.2rem;
      }
    }
  }
}

@media only screen and(max-width: 700px) {
  .hamburger {
    width: 2rem;
    height: 2rem;
    .line1,
    .line2,
    .line3 {
      height: 0.5vw;
    }
    .line2 {
      margin: 0.8vw 0vw;
    }
  }
  .nav-overlay {
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    .overlay-badge {
      display: none;
    }
    .overlay-left {
      padding: 1rem 0rem;
      width: 90%;
      height: 50%;
      img {
        width: 60% !important;
      }
      .overlay-about {
        margin: 4vh 0vh !important;
        h1 {
          font-size: 2rem;
        }
        .overlay-buttons {
          width: 50vw;
        }
        button {
          display: grid;
          place-items: center;
          place-content: center;
          #btn-text {
            display: none;
          }
          padding: 0rem 0rem !important;
          width: 35px;
          height: 35px;
          border-radius: 50% !important;
        }
      }
      .overlay-maintainer {
        width: 100%;
        h1 {
          line-height: 2rem;
          font-size: 1.1rem;
        }
        button {
          padding: 0.5rem 1.5rem;
        }
      }
    }
    .overlay-right {
      height: 60%;
      .overlay-nav {
        padding-left: 0px;
        min-height: 35vh;
      }
    }
  }
  .home {
    flex-direction: column;
    .home-badge {
      display: none;
    }
    .home-text {
      width: 100%;
      padding: 13vh 3vh;
      h1 {
        font-size: 2.7rem;
      }
      p {
        font-size: 1.2rem;
        line-height: 2rem;
      }
    }
    .home-img {
      align-items: flex-start;
      width: 100%;
      img {
        width: 50%;
      }
    }
  }
  .features {
    flex-direction: column;
    .backdrop {
      background: rgba(0, 0, 0, 0.205);
    }
    .features-card-container {
      width: 100%;
      .features-card {
        width: 90%;
        border-radius: 2vw;
        padding: 2vh 2vw;
        h1 {
          font-size: 2rem;
        }
        h3 {
          font-size: 1.2rem;
        }
      }
    }
    .swiper {
      width: 75%;
      .swiper_slide {
        width: 10vw !important;
      }
    }
  }
  .team {
    .wrapper {
      width: 70%;
    }
    .container .card {
      border-radius: 0.5rem;
      width: 90%;
      .card-text {
        h1 {
          font-size: 1.5rem !important;
        }
        h3 {
          font-size: 0.8rem !important;
        }
      }
      .card-text .buttons .btn a i {
        font-size: 1.2rem !important;
      }
    }
  }
  footer {
    height: auto;
    h1 {
      font-size: 1.8rem !important;
    }
    .footer-container ul {
      padding: 0px 0px;
    }
  }
}
